<div id="userManegementFooter" class="is-hidden-tablet-only is-hidden-mobile">
  <nav class="level has-background-dark">
    <button class="level-item has-text-centered button is-dark" id="viewAllUserBtn" routerLink="ViewAllUsers">View All Users</button>
    <button class="level-item has-text-centered button is-dark" id="addNewUserBtn" routerLink="AddNewUser">Add New User</button>
    <button class="level-item has-text-centered button is-dark" id="manageUserBtn" routerLink="ManageUser">Manage User</button>
    <button class="level-item has-text-centered button is-dark">Settings</button>
  </nav>
</div>