<div id="userManegementFooter" class="is-hidden-tablet-only is-hidden-mobile">
  <nav class="level has-background-dark">
    <button class="level-item has-text-centered button is-dark">
      <a routerLink="ViewAllUsers">
        View All Users
      </a>
    </button>
    <button class="level-item has-text-centered button is-dark">
      <a class="link is-info">Add New User</a>
    </button>
    <button class="level-item has-text-centered button is-dark">
      <a class="link is-info">Manage User</a>
    </button>
    <button class="level-item has-text-centered button is-dark">
      <a class="link is-info">Settings</a>
    </button>
  </nav>
</div>