<div class="columns">
    <div class="column"></div>
    <div class="column">
        <div class="has-text-centered has-background-success"><caption class="has-text-black has-text-weight-bold is-size-4 is-inline-block">Users</caption></div>
        <table class="table is-bordered is-fullwidth">
            <thead>
                <tr>
                    <th>
                        UserID
                    </th>
                    <th>
                        UserName
                    </th>
                    <th>
                        Firstname
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        State
                    </th>
                    <th>
                        ZipCode
                    </th>
                    <th>
                        Tel
                    </th>
                </tr>  
            </thead>
            <tbody>
                <tr *ngFor='let user of users;'>
                    <td>{{user.user_ID}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.city}}</td>
                    <td>{{user.state}}</td>
                    <td>{{user.zipCode}}</td>
                    <td>{{user.phoneNumber}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="column"></div>
</div>
<button type="button" onclick="document.getElementById('modal-js-example').classList.add('is-active')" class="js-modal-trigger" data-target="modal-js-example">
    Open JS example modal
  </button>