
<div class="hero-body has-background-white-ter">
  <div class="container has-text-centered">
    <p class="title has-text-black">Admin Dashboard Login</p>
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <div class="box is-light">
          <div class="field has-text-left">
            <label class="label">User ID</label>
            <input class="input" type="text" placeholder="Enter User ID">
          </div>
          <div class="field has-text-left">
            <label class="label">Password:</label>
            <input class="input" type="password" placeholder="Password">
          </div>
          <a class="button is-primary is-rounded is-medium">Login</a>
        </div>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>
