<!-- Hero head: will stick at the top -->
<div class="hero-head">
  <header class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item">
          <span class="has-text-weight-bold is-size-2">My Admin Portal </span>
        </a>
        <span class="navbar-burger" data-target="navbarMenuHeroC">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroC" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active">
            Home
          </a>
          <a class="navbar-item" routerLink="/UserManagement">
            User Management
          </a>
          <a class="navbar-item">
            Reports
          </a>
          <span class="navbar-item">
            <a class="button is-dark is-inverted" routerLink="/login">
              Logout
            </a>
          </span>
        </div>
      </div>
    </div>
  </header>
</div>