<div class="has-background-white-ter">
  <section class="hero is-dark is-fullheight">
    <div>
      <app-navigation-menu-top></app-navigation-menu-top>
    </div>
      <div class="hero-body has-background-white-ter">
        <div class="container has-text-centered">
          <router-outlet></router-outlet>
        </div>
    </div>
  </section>
</div>

<!-- TODO: Generate a component for the modal, so that you can pass data to it -->
<div class="modal" id="modal-js-example">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p>This is a modal.</p>
      <br/>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>