<form class="box has-text-black m-6 ">
  <h1 class="is-size-2 mb-6">Add User Form</h1>
  <div class="field mx-6">
    <label class="label has-text-left">UserName</label>
    <div class="control">
      <input class="input" type="text">
    </div>
  </div>

  <div class="field mx-6">
    <label class="label has-text-left">Firstname</label>
    <div class="control">
      <input class="input" type="text">
    </div>
  </div>

  <div class="field mx-6">
    <label class="label has-text-left">Lastname</label>
    <div class="control">
      <input class="input" type="text">
    </div>
  </div>

  <div class="field mx-6">
    <label class="label has-text-left">Email</label>
    <div class="control">
      <input class="input" type="email">
    </div>
  </div>

  <div class="field mx-6">
    <label class="label has-text-left">Address</label>
    <div class="control">
      <input class="input" type="text">
    </div>
  </div>

  <div class="field mx-6">
    <label class="label has-text-left">City</label>
    <div class="control">
      <input class="input" type="text">
    </div>
  </div>

  <div class="field mx-6">
    <label class="label has-text-left">State</label>
    <div class="control">
      <input class="input" type="text">
    </div>
  </div>

  <div class="field mx-6">
    <label class="label has-text-left">Zip code</label>
    <div class="control">
      <input class="input" type="text">
    </div>
  </div>

  <div class="field mx-6">
    <label class="label has-text-left">PhoneNumber</label>
    <div class="control">
      <input class="input" type="tel">
    </div>
  </div>
  <button class="button is-primary my-4">Add User</button>
</form>