<form class="box has-text-black m-6 ">
    <h1 class="is-size-2 mb-6">Add User Form</h1>
    <div class="field mx-6">
      <label class="label has-text-left">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="e.g. alex@example.com">
      </div>
    </div>
  
    <div class="field mx-6">
      <label class="label has-text-left">Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="********">
      </div>
    </div>
  
    <button class="button is-primary my-4">Add User</button>
  </form>